@using Microsoft.AspNetCore.Identity
@using stembowl.Models
@using stembowl.Areas.Identity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if(signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);

    var isAdmin = currentUser != null
        && await userManager.IsInRoleAsync(
            currentUser,
            "Admin");

    if (isAdmin)
    {
        <li>
            <a asp-controller="ManageUsers" asp-action="Index">
                   Manage Users
            </a>
        </li>
        <li>
            <a asp-controller="Questions" asp-action="GetAll">
                   Manage Questions
            </a>
        </li>
    }
}