@using Microsoft.AspNetCore.Identity
@using stembowl.Areas.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<span></span>
@if(SignInManager.IsSignedIn(User))
{

    var currentUser = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(
            currentUser,
            "Admin");
    var isGrader = await UserManager.IsInRoleAsync(
        currentUser,
        "Grader");
    var isFaculty = await UserManager.IsInRoleAsync(
            currentUser,
            "Faculty");
    var isStudent = await UserManager.IsInRoleAsync(
            currentUser,
            "Student");

    
    if(isFaculty)
    {   
    <ul class="navbar-nav">
        <li class="navbar-item">
            <div class="dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Faculty Menu
                    </a>
            
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Questions" asp-action="Index">Submit Questions</a>
                        <a class="dropdown-item" asp-controller="Questions" asp-action="GetAll">Manage Questions</a>
                    </div>
            </div>

        </li>
    </ul>
    }
  
}