<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stem Bowl</title>
    <link rel="icon" href="~/favicon.ico">
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/scss/styles.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>  
</head>
<body>
    
    
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg  fixed-top" style="background-color: #3F766A">
            
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Stem Bowl</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-layout" aria-controls="navbar-layout" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            

            <div class=" collapse navbar-collapse" id="navbar-layout">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                    <partial name="_FacultyPartial"/>
                    <partial name="_AdminPartial"/>
                    <partial name="_LoginPartial"/>
                    
            </div>
        </nav>
    </div>

    
        @RenderBody()
    

        <footer class="page-footer font-small" style="background-color: #3F766A" id="site-footer">
            <div class="container-fluid pt-5" id="footer-image">
                <div class="container-fluid p-5">
            
                    <div class="row text-white text-center">
                        <div class="col-md-4 mb-md-0 mb-3 text-center">
                            <h5 class="text-uppercase">Contact Info</h5>
                            <hr class="clearfix w-25 pb-3">
                            <ul class="list-unstyled">
                            <li>
                                <p><i class="far fa-address-card"></i>  lorem ipsum</p>
                            </li>
                            <li>
                                <p><i class="fas fa-at"></i>  Lorem Ipsum</p>
                            </li>
                            
                            </ul>
                        </div>
                        
                    <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-4 mt-md-0 mt-3 mb-3">
                            <h5 class="text-uppercase">Footer Content</h5>
                            <hr class="clearfix w-50 pb-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id faucibus justo. Vestibulum malesuada mattis convallis. In vitae nisl aliquam, feugiat arcu at, efficitur nisl. </p>
                        </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-4 mb-md-0 mb-3 text-center">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>
                        <hr class="clearfix w-25">
                        <ul class="list-unstyled">
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>

                    </div>
                </div>
            </div>

                
                </div>
            <div class="footer-copyright text-center py-3 text-muted container-fluid" style="background-color: #000000">&copy; copyright 
                    <a class="navbar-brand" href="#">ComputerScienceClub</a>
                </div>
        </footer>
    
    <environment include="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.slim.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function() {
	
                // INITIATE THE FOOTER
                siteFooter();
                // COULD BE SIMPLIFIED FOR THIS PEN BUT I WANT TO MAKE IT AS EASY TO PUT INTO YOUR SITE AS POSSIBLE
                $(window).resize(function() {
                    siteFooter();
                });
                
                function siteFooter() {
                    var siteContent = $('#site-content');
                    var siteContentHeight = siteContent.height();
                    var siteContentWidth = siteContent.width();

                    var siteFooter = $('#site-footer');
                    var siteFooterHeight = siteFooter.height();
                    var siteFooterWidth = siteFooter.width();

                    console.log('Content Height = ' + siteContentHeight + 'px');
                    console.log('Content Width = ' + siteContentWidth + 'px');
                    console.log('Footer Height = ' + siteFooterHeight + 'px');
                    console.log('Footer Width = ' + siteFooterWidth + 'px');

                    siteContent.css({
                        "margin-bottom" : siteFooterHeight - 25
                    });
                };
});
        </script>
        

    </environment>
    <environment exclude="Development">
    <link src="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            asp-fallback-src="~/lib/popper.js/dist/umd/popper.min.js"
            asp-fallback-test="window.Popper" 
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous">
    </script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment> 
    @RenderSection("Scripts", required: false)
</body>
</html>
