@using Microsoft.AspNetCore.Identity
@using stembowl.Areas.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<span></span>
@if(SignInManager.IsSignedIn(User))
{

    var currentUser = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(
            currentUser,
            "Admin");
    var isGrader = await UserManager.IsInRoleAsync(
        currentUser,
        "Grader");
    var isFaculty = await UserManager.IsInRoleAsync(
            currentUser,
            "Faculty");
    var isStudent = await UserManager.IsInRoleAsync(
            currentUser,
            "Student");

    
        
    

    <form asp-area="Identity"
        asp-page="/Account/Logout"
        asp-route-returnUrl="@Url.Page("/")"
        method="post" id="logoutForm" class="navbar-right form-inline">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                Hello @UserManager.GetUserName(User)
                            </a>
                        </li>
                        <li class="navbar-item">
                            <button type="submit" class="btn btn-link navbar-btn nav-link float-right">Logout</button>
                        </li>
                    </ul>  
            </form> 
            
           
            
      
    
}
else
{
    <ul class="navbar-nav">
        <li class="navbar-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="navbar-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
