@using Microsoft.AspNetCore.Identity
@using stembowl.Areas.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-link">
        @Html.ActionLink("Submit Questions", "Index", "Questions")
    </li>
}