@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "StemBowl Webapp built in C# with the ASP.NET Core MVC RazorPages";
}
<div class="jumbotron-fluid mt-4" id="site-content">
    <div class="container-fluid my-5 pt-5" style="background-image: radial-gradient(#2193b0, #6dd5ed);">
        <div class="container text-center">  
            <h1 class="display-4">@ViewData["Title"]</h1>
            <p class="lead">@ViewData["Message"]</p>
            <hr class="my-4">
            <p class="lead pb-4">Proudly brought to you by the ComputerScienceClub</p>
        </div>
    </div>
</div>

