@{
    ViewData["Title"] = "Contact";
}
    
    
<div class="jumbotron-fluid" id="site-content">
    <div class="container-fluid d-flex" style="background-image: radial-gradient(#02aab0, #00cdac); width: 100vw; height: 50vh; align-items: center;">
        <div class="container text-center">  
            <h1 class="display-4">@ViewData["Title"]</h1>
            
            <hr class="my-4">
            <p class="lead pb-4">Proudly brought to you by the ComputerScienceClub</p>
        </div>
    </div>
</div>

