@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using stembowl.Models
@using stembowl.Areas.Identity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

    
@if(signInManager.IsSignedIn(User))
{
    <!-- <div style="background-image: radial-gradient(#bdc3c7, #2c3e50);" class="jumbotron jumbrotron-fluid container-fluid col-sm-12">
        <div class="container mt-4 text-center">
            
            <h1 class="display-4">Hello, @userManager.GetUserName(User)!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
            </p>
        </div>
    </div> -->
<div class="jumbrotron-fluid " id="site-content">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="">
        <div class="carousel-inner d-flex" style="background-image: radial-gradient(#bdc3c7, #2c3e50); width: 100vw; height: 100vh; align-items: center;">
            <div class="carousel-item active">
                
                <div class="container text-center">
                    
                    <h1 class="display-4">Hello, @userManager.GetUserName(User)!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                    <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                    </p>
                </div>
                
            </div>
            <div class="carousel-item">
                
                <div class="container mt-5 text-center">
                    
                    <h1 class="display-4">Hello, @userManager.GetUserName(User)!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                    <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                    </p>
                </div>
                
            </div>
            <!-- <div class="carousel-item">
                <div style="background-image: radial-gradient(#bdc3c7, #2c3e50);" class="jumbotron jumbrotron-fluid container-fluid col-sm-12">
                    <div class="container mt-4 text-center">
                        
                        <h1 class="display-4">Hello, @userManager.GetUserName(User)!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                        <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        <div class="container  p-5">
        <div class="row">

            <div class="card-deck mb-lg-2 mx-lg-auto">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card mb-sm-4 mx-sm-auto" style="width: 18rem;">
                        <img class="card-img-top" src="~/images/fjord.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card mx-sm-auto" style="width: 18rem;">
                        <img class="card-img-top" src="~/images/road.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="~/images/islands.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div> -->
            </div>

            <!-- <div class="col-sm-6">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
        <div class="row m-sm-4 mt-md-0 pb-5">
            <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
                <h1 class="display-4">This is important</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id faucibus justo. Vestibulum malesuada mattis convallis. In vitae nisl aliquam, feugiat arcu at, efficitur nisl. Aenean ornare ex elit, id commodo nulla posuere vitae</p>
                <p class="lead">
                <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                </p>
            </div>
            <div class="col-sm-112 col-md-4 col-lg-4 m-auto text-center justify-content-center pt-4 mt-sm-4">
                <h3 class="mb-4">Widget Menu</h3>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">test2</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
else
{
        // Jumbotron
        <!-- <div style="background-image: radial-gradient(#2193b0, #6dd5ed);" class="jumbotron jumbrotron-fluid container-fluid col-sm-12">
            <div class="container mt-4 text-center">
                
                <h1 class="display-4">Hello, looks like your new here!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                </p>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


<div class="jumbrotron-fluid mt-4" id="site-content">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner pt-5 pb-5" style="background-image: radial-gradient(#bdc3c7, #2c3e50);">
            <div class="carousel-item active">
                
                <div class="container mt-5 text-center">
                    
                    <h1 class="display-4">Hello, looks like your new here!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                    <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                    </p>
                </div>
                
            </div>
            <div class="carousel-item">
                
                <div class="container mt-5 text-center">
                    
                    <h1 class="display-4">Hello, looks like your new here!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                    <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                    </p>
                </div>
                
            </div>
            <!-- <div class="carousel-item">
                <div style="background-image: radial-gradient(#bdc3c7, #2c3e50);" class="jumbotron jumbrotron-fluid container-fluid col-sm-12">
                    <div class="container mt-4 text-center">
                        
                        <h1 class="display-4">Hello, looks like your new here!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                        <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        <div class="container  p-5">
        <div class="row">

            <div class="card-deck mb-lg-2">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card mb-sm-5">
                        <img class="card-img-top" src="~/images/fjord.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card">
                        <img class="card-img-top" src="~/images/road.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="~/images/islands.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div> -->
            </div>

            <!-- <div class="col-sm-6">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
        <div class="row m-sm-4 mt-md-0 pb-5">
            <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
                <h1 class="display-4">This is important</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id faucibus justo. Vestibulum malesuada mattis convallis. In vitae nisl aliquam, feugiat arcu at, efficitur nisl. Aenean ornare ex elit, id commodo nulla posuere vitae</p>
                <p class="lead">
                <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                </p>
            </div>
            <div class="col-sm-112 col-md-4 col-lg-4 m-auto text-center justify-content-center pt-4 mt-sm-4">
                <h3 class="mb-4">Widget Menu</h3>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">test2</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
}



@section Scripts
{
    <script>
    $(document).ready(function() {

        $('.card').hover(
        // trigger when mouse hover
        function(){
            $(this).animate({
                marginTop: "-=1%",
            },200);
        },

        // trigger when mouse out
        function(){
            $(this).animate({
                marginTop: "0%"
            },200);
        }
        );
    
         

        $(function () {
  $('[data-toggle="popover"]').popover()
});
    });
    </script>
}
