@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using stembowl.Models
@using stembowl.Areas.Identity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

    
<hr />
@if(signInManager.IsSignedIn(User))
{
    <div class="d-flex justify-content-center">
    <p>Hello @userManager.GetUserName(User)!</p>
    </div>
            

    
    var currentUser = await userManager.GetUserAsync(User);
    var isAdmin = await userManager.IsInRoleAsync(
            currentUser,
            "Admin");
    var isGrader = await userManager.IsInRoleAsync(
        currentUser,
        "Grader");
    var isFaculty = await userManager.IsInRoleAsync(
            currentUser,
            "Faculty");
    var isStudent = await userManager.IsInRoleAsync(
            currentUser,
            "Student");

            
            
            
    if(isAdmin)
    {
        <div class="d-flex">
        <ul class="list-inline mx-auto justify-content-center">
        <li>
            <a asp-controller="ManageUsers" asp-action="Index">
                   Manage Users
            </a>
        </li>
        <li>
            <a asp-controller="Questions" asp-action="Index">
                   Submit Questions
            </a>
        </li>
        <li>
            <a asp-controller="Questions" asp-action="GetAll">
                   Manage Questions
            </a>
        </li>
        <li>
            <a asp-controller="Round" asp-action="Index">
                Manage Round
            </a>
        </li>
        </ul>
        </div>
    }else if(isGrader)
    {
        <li>
            <a asp-controller="Round" asp-action="Index">
                Manage Round
            </a>
        </li> 
    }
    else if(isFaculty)
    {
        <li>
            <a asp-controller="Questions" asp-action="Index">
                   SubmitQuestions
            </a>
        </li>
    }
    else
    {
        <p>Sorry, nothing here for you until the event!

        If you are coming here to submit questions, please enter your code 
                <a asp-area="Identity" asp-page="/Account/Manage/ChangeRole" title="Manage">
                    here.
                </a>
        </p>
    }
}
</div>

