@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using stembowl.Models
@using stembowl.Areas.Identity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

    
@if(signInManager.IsSignedIn(User))
{
    <div class="jumbotron jumbrotron-fluid container-fluid col-sm-12">
        <div class="container mt-4">
            
            <h1 class="display-4">Hello, @userManager.GetUserName(User)!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
            </p>
        </div>
    </div>
}
else
{
        // Jumbotron
        <div class="jumbotron jumbrotron-fluid container-fluid col-sm-12">
            <div class="container mt-4">
                
                <h1 class="display-4">Hello, looks like your new here!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                <a tabindex="0" class="btn btn-primary btn-lg" href="#" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Not just yet..." data-content="The Stem Bowl hasn't quite started yet, check back again in a few weeks">Make a team</a>
                </p>
            </div>
        </div>
}



@section Scripts
{
    <script>
    $(document).ready(function() {
        $(function () {
  $('[data-toggle="popover"]').popover()
});
    });
    </script>
}
