@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="jumbrotron-fluid mt-5" id="site-content">
    
        <div class="row justify-content-center align-items-center p-5 text-center">
            <header>
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
            </header>
        </div>
        
    
    
</div>