/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*
.grid-box{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .small{
        grid-row: span 1;
        grid-column: span 1;
    }
      
      &.medium {
        grid-row: span 2;
        grid-column: span 2;
      }
      
      &.large {
        grid-row: span 3;
        grid-column: span 3;
      }
      
      &.tall {
        grid-row: span 3;
        grid-column: span 2;
      }
      
      &.wide {
        grid-row: span 2;
        grid-column: span 3;
      }

}*/