@{
    ViewData["Title"] = "End of Round";
}
<br />
<br />
<div class="container">
    <div class="row justify-content-center align-items-center"><h1>End of Round</h1></div>
    <br />
    <div class="row justify-content-center align-items-center"><a asp-controller="Student" asp-action="CheckScore" class="btn btn-outline-info" role="button">Check Score</a></div>
</div>
<br />
<br />
    