@model Question

<br /> <br />

@using(Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <div class="offset-md-1 col-md-2">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

}
@section Scripts
{
    <script>
    $(document).ready(function() {
        $('#Format').on('change', function () {
           $('#MultipleChoice').toggle(this.value == 'MultipleChoice');
           $('#ShortAnswer').toggle(this.value == 'ShortAnswer');
           $('#TrueFalseDiv').toggle(this.value == 'TrueFalse');
        });
        $('input[type=checkbox]').change(function() {
            $('input[type=checkbox]:checked').not(this).prop('checked', false);
        });
    });
    </script>
}